CONTAINER_NAME=tampan

EULA=TRUE
TYPE=PAPER
VERSION=1.21.8
MEMORY=4G

ENABLE_RCON=true
RCON_PASSWORD=minecraft123

ONLINE_MODE=false
ENABLE_WHITELIST=true

SERVER_PORT=25565
RCON_PORT=25575

PLAY_IT=47790399b219a6583b3c9745d77b10c299bf849e2aa70af973d850397de3f7f5
